streamlit
python-dotenv
langchain
langchain-core
langchain-community
langgraph
langchain-groq
langchain-openai
pydantic
PyPDF2
pypdf
faiss-cpu
sentence-transformers
huggingface-hub
transformers
torch
groq
typing-extensions
langchain-chroma